html {
    @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
    font-family: 'Nanum Gothic', sans-serif;
}

.header {
    background-color: #fff;
    border-bottom: solid 1px black;
    padding: 10px;
    margin-bottom: 10px;
}

.header-title {
    margin: auto 20px;
    padding: auto;
}

.header-title a {
    color: black;
}
.header-title a:hover {
    text-decoration: none;
}

.profile-img {
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #5b8da2;
    max-width: 4rem;
}

.list-group {
    margin-bottom: 20px;
}
.list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
}
.category-item-count {
    font-size: 0.5em;
}
